In [13]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

posts_list = pd.read_pickle('comments_wsb.pkl')

df = pd.DataFrame(posts_list)

In [14]:
df.columns

Index(['author', 'author_created_utc', 'author_flair_css_class',
       'author_flair_template_id', 'author_flair_text', 'author_fullname',
       'body', 'can_gild', 'controversiality', 'created_utc', 'distinguished',
       'edited', 'gilded', 'id', 'is_submitter', 'link_id', 'nest_level',
       'no_follow', 'parent_id', 'permalink', 'reply_delay', 'retrieved_on',
       'score', 'send_replies', 'stickied', 'subreddit', 'subreddit_id',
       'subreddit_type', 'mod_removed', 'user_removed', 'author_cakeday'],
      dtype='object')

In [15]:
df.head()

,author,author_created_utc,author_flair_css_class,author_flair_template_id,author_flair_text,author_fullname,body,can_gild,controversiality,created_utc,...,retrieved_on,score,send_replies,stickied,subreddit,subreddit_id,subreddit_type,mod_removed,user_removed,author_cakeday
0,Tristanna,1.326956e+09,None,None,None,t2_6p4zr,I don't disagree with this but what on earth d...,True,0,1522540734,...,1525802589,3,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
1,[deleted],NaN,None,None,None,NaN,[removed],True,0,1522540720,...,1525802583,1,True,False,wallstreetbets,t5_2th52,public,True,NaN,NaN
2,[deleted],NaN,None,None,None,NaN,[deleted],False,0,1522540657,...,1525802552,4,True,False,wallstreetbets,t5_2th52,public,NaN,True,NaN
3,the_disco_pimp,1.395887e+09,None,None,None,t2_fvd4x,The average household now pays a total of abou...,True,0,1522540511,...,1525802484,2,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
4,Emp_Vanilla,1.469730e+09,None,None,None,t2_zwccw,Where do you think higher labor costs go? To ...,True,0,1522540504,...,1525802482,1,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN

In [16]:
df

,author,author_created_utc,author_flair_css_class,author_flair_template_id,author_flair_text,author_fullname,body,can_gild,controversiality,created_utc,...,retrieved_on,score,send_replies,stickied,subreddit,subreddit_id,subreddit_type,mod_removed,user_removed,author_cakeday
0,Tristanna,1.326956e+09,None,None,None,t2_6p4zr,I don't disagree with this but what on earth d...,True,0,1522540734,...,1525802589,3,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
1,[deleted],NaN,None,None,None,NaN,[removed],True,0,1522540720,...,1525802583,1,True,False,wallstreetbets,t5_2th52,public,True,NaN,NaN
2,[deleted],NaN,None,None,None,NaN,[deleted],False,0,1522540657,...,1525802552,4,True,False,wallstreetbets,t5_2th52,public,NaN,True,NaN
3,the_disco_pimp,1.395887e+09,None,None,None,t2_fvd4x,The average household now pays a total of abou...,True,0,1522540511,...,1525802484,2,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
4,Emp_Vanilla,1.469730e+09,None,None,None,t2_zwccw,Where do you think higher labor costs go? To ...,True,0,1522540504,...,1525802482,1,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,theath5,1.322615e+09,None,None,None,t2_6c8aj,"Imma keep it real with you chief, I’m all out ...",True,0,1522271502,...,1525692285,259,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
8996,ElegantTobacco,1.385528e+09,None,None,None,t2_e3aw8,Times sure have changed.\n\n*Or have they?*,True,0,1522271500,...,1525692284,8,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
8997,ToAlphaCentauriGuy,1.401975e+09,None,None,None,t2_guwh4,"Looks like you retards are against it, buying ...",True,0,1522271477,...,1525692273,1,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
8998,allianc4,1.504130e+09,None,None,None,t2_c950zfk,"If the market opens green, buy puts. If the ma...",True,0,1522271475,...,1525692272,74,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN
8999,UnoDosBurntToast,1.422392e+09,None,None,None,t2_kzdvz,Okay so Citron ~= zerohedge to some degree?,True,0,1522271465,...,1525692268,1,True,False,wallstreetbets,t5_2th52,public,NaN,NaN,NaN

In [17]:
df['body']

0       I don't disagree with this but what on earth d...
1                                               [removed]
2                                               [deleted]
3       The average household now pays a total of abou...
4       Where do you think higher labor costs go?  To ...
                              ...
8995    Imma keep it real with you chief, I’m all out ...
8996          Times sure have changed.\n\n*Or have they?*
8997    Looks like you retards are against it, buying ...
8998    If the market opens green, buy puts. If the ma...
8999          Okay so Citron ~= zerohedge to some degree?
Name: body, Length: 9000, dtype: object

In [18]:
count = 0
for x in df['body']:
    if 'crash' in str(x).lower():
        count+=1
print(count)

58

In [19]:
count = 0
for x in df['body']:
    if 'puts' in str(x).lower():
        count+=1
print(count)

251

In [20]:
count = 0
for x in df['body']:
    if 'calls' in str(x).lower():
        count+=1
print(count)

326

In [21]:
count = 0
for x in df['body']:
    if 'buy' in str(x).lower():
        count+=1
print(count)

549

In [22]:
count = 0
for x in df['body']:
    if 'sell' in str(x).lower():
        count+=1
print(count)

328

In [23]:
count = 0
for x in df['body']:
    if 'growth' in str(x).lower():
        count+=1
print(count)

29

In [24]:
count = 0
for x in df['body']:
    if 'buy' in str(x).lower():
        count+=1
print(count)

549

In [25]:
s = ""
import nltk

In [26]:
for x in df['body']:
    s+=str(x) + '. '

In [27]:
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
additional_stopwords = """one get like r would think going"""
stop_words += additional_stopwords.split()
tokenizer = RegexpTokenizer(r'\w+')
filtered = tokenizer.tokenize(s)
new_filtered = []
for x in filtered:
    if str(x).lower() not in stop_words:
        new_filtered += [x]

In [28]:
from collections import Counter
counts = Counter(new_filtered)
counts.most_common(100)

[('money', 632),
 ('deleted', 514),
 ('buy', 448),
 ('shit', 420),
 ('removed', 376),
 ('com', 349),
 ('calls', 347),
 ('market', 346),
 ('make', 342),
 ('people', 327),
 ('time', 321),
 ('know', 315),
 ('go', 303),
 ('even', 297),
 ('https', 291),
 ('right', 290),
 ('day', 285),
 ('good', 268),
 ('stock', 267),
 ('puts', 265),
 ('Tesla', 260),
 ('gt', 259),
 ('1', 246),
 ('way', 245),
 ('much', 243),
 ('got', 242),
 ('sell', 239),
 ('fucking', 235),
 ('see', 234),
 ('back', 230),
 ('options', 229),
 ('Amazon', 227),
 ('could', 224),
 ('fuck', 218),
 ('post', 217),
 ('3', 214),
 ('want', 213),
 ('still', 212),
 ('2', 212),
 ('long', 206),
 ('4', 204),
 ('5', 204),
 ('price', 198),
 ('need', 197),
 ('short', 195),
 ('actually', 193),
 ('really', 188),
 ('amp', 185),
 ('years', 178),
 ('year', 176),
 ('also', 174),
 ('put', 173),
 ('Trump', 173),
 ('10', 170),
 ('today', 169),
 ('company', 169),
 ('week', 168),
 ('next', 168),
 ('call', 166),
 ('though', 164),
 ('bought', 162),
 ('probably', 155),
 ('trade', 155),
 ('something', 154),
 ('made', 154),
 ('www', 152),
 ('lose', 149),
 ('never', 145),
 ('thing', 145),
 ('profit', 144),
 ('sure', 144),
 ('trading', 142),
 ('20', 142),
 ('last', 141),
 ('say', 140),
 ('big', 138),
 ('take', 137),
 ('better', 136),
 ('point', 135),
 ('option', 133),
 ('lot', 131),
 ('stocks', 129),
 ('every', 128),
 ('50', 128),
 ('work', 127),
 ('mean', 125),
 ('well', 125),
 ('buying', 125),
 ('bad', 124),
 ('shares', 124),
 ('use', 123),
 ('first', 122),
 ('us', 121),
 ('days', 121),
 ('100', 120),
 ('look', 120),
 ('around', 117),
 ('faggot', 116),
 ('said', 115),
 ('USPS', 115)]